<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab ng-click="homePage()" title="首页" icon="ion-grid">
        <ion-nav-view name="tab-homePage"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-click="hotel()" title="酒店" icon="ion-home">
        <ion-nav-view name="tab-hotel"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-click="community()" title="社区" icon="ion-aperture" badge="badge_number" badge_style="badge-assertive">
        <ion-nav-view name="tab-community"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-click="discovery()" title="发现" icon="ion-radio-waves">
        <ion-nav-view name="tab-discovery"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-click="user()" title="我的" icon="ion-person">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>